.container{position: relative;}
ul li{list-style: none;}

.d1ul{
    background-color: rgb(82, 80, 80); 
    width: 100%;
}
.d1ul li {
    color: #fff;
    font-size: 32px;
    padding: 30px 15px;
    text-decoration: none;
}